.sections {
  position: relative;
  height: 100vh;
  overflow: hidden;

  .section {
    background-image: url('~@/assets/images/pages/home/bim.jpg');
    background-position: center;
    background-repeat: repeat-y;
    background-size: contain;

    @media screen and (min-width: 1200px) {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }
  }
}
