section {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;

  &::before {
    content: '06.';
    position: absolute;
    bottom: 0;
    right: calc(50vw - 570px);
    color: #f5cb0b;
    font-size: 10rem;
    font-family: 'SVN-Gotham';
    font-weight: 700;
  }


  .section-header {
    text-align: center;
    margin-bottom: 3rem;

    h2 {
      color: #5c5e5c;
      font-size: 3rem;
      font-family: 'Helvetica Neue';
      text-transform: capitalize;
      margin-bottom: 0.75rem;
    }

    p {
      color: #5c5e5c;
      font-size: 1.125rem;
      font-family: 'SVN-Gotham';
      font-weight: 300;
      margin-bottom: unset;
    }
  }

  img {
    margin-bottom: 1.25rem;
  }
}
