header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1080;
  padding-top: 2rem;

  .container {
    position: relative;
  }

  .nav-brand {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  .nav-icon {
    position: absolute;
    top: calc(50% + 3.5rem);
    right: 0;
    transform: translateY(-50%);

    .icon {
      position: relative;
      display: inline-block;
      width: 3.5rem;
      height: 2.5rem;
      cursor: pointer;

      span {
        display: block;
        position: absolute;
        left: 0;
        width: 3.5rem;
        height: 0.5rem;
        background-color: #5c5e5c;
        transform: rotate(0deg);
        transition: .25s ease-in-out;
        opacity: 1;

        &:nth-child(1) {
          top: 0;
        }
        &:nth-child(2), &:nth-child(3) {
          top: 1rem;
        }
        &:nth-child(4) {
          top: 2rem;
        }
      }
    }

    &.show {
      z-index: 9999;

      .icon {

        span {
          background-color: #fdd20a;

          &:nth-child(1), &:nth-child(4) {
            top: 1rem;
            left: 50%;
            width: 0%;
          }
          &:nth-child(2) {
            transform: rotate(45deg);
          }
          &:nth-child(3) {
            transform: rotate(-45deg);
          }
        }
      }
    }
  }
}

main {
  position: relative;
}

.modal-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;

  &.show {
    z-index: 1070;

    span {
      width: 50%;
      transform: skew(20deg);
    }
  }

  span {
    position: fixed;
    top: 0;
    width: 0%;
    height: 100%;
    transform: skew(0deg);
    transition: all 0.25s ease-in;
  }

  span:nth-child(1) {
    left: -10%;
    background-color: #232323;
  }

  span:nth-child(2) {
    left: 30%;
    background-color: #272727;
  }

  span:nth-child(3) {
    left: 70%;
    background-color: #272727;
  }

  .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    ul {

      li {

        a {

        }
      }
    }
  }
}
